body, html {
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.text-align-center {
  text-align: center;
}
.items-center {
  align-items: center;
}
.w-left {
  width: 60%;
}
.w-right {
  width: 40%;
}
form.form {
  display: flex;
  flex-direction: column;
  margin: 10%;
}
input {
  display: block;
  height: 40px;
}
input.search {
  height: 30px;
}
.spacer {
  height: 50px;
}
.w-75 {
  width: 75%;
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.bg-white {
  background-color: #FFFFFF;
}
.content {
  margin-top: 30px;
}
.left-side {
  
}
.right-side {
  
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
@media (max-width: 800px) {
  .w-left {
    width: 100%;
  }
  .w-right {
    display: none;
  }
  .w-75 {
    width: 100%;
  }
  .w-50 {
    width: 100%;
  }
  .small-hide {
    display: none;
  }
}

/* HEADER */
.header {
  height: 60px;
  background: #ffffff;
}
body {
  background: #E0E0E0;
}

.dark {
  background: #111111;
}
.dark .header {
  background: #222222;
}